########################################################################
# Configuration file for the Vrui VR device driver daemon.
# Copyright (c) 2002-2010 Oliver Kreylos
# 
# This file is part of the Virtual Reality User Interface Library
# (Vrui).
# 
# The Virtual Reality User Interface Library is free software; you can
# redistribute it and/or modify it under the terms of the GNU General
# Public License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# The Virtual Reality User Interface Library is distributed in the hope
# that it will be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with the Virtual Reality User Interface Library; if not, write
# to the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
# Boston, MA 02111-1307 USA
########################################################################

# 3D ALIVE:
section "dante"
   section DeviceManager
      deviceNames (InterSense)
      
      # Intersense IS-900 SimTracker
      section InterSense
         deviceType InterSense
         serialPort /dev/ttySNX1
         deviceBaudRate 115200
         # NOTE 1: Commenting this out. see NOTE 2 below.
         #uploadConstellationConfiguration ConstellationConfiguration
         buttonIndexBase 0
         valuatorIndexBase 0
         # TODO: Change this if the second head tracker will be used.
         # stationNames (Head, Wand, Head2)
         stationNames (Head, Wand)

         trackerPostTransformation0 rotate (0.0, 0.0, 1.0), -90.0 \
                                    * rotate (0.0, 1.0, 0.0), 180.0
         trackerPostTransformation1 rotate (0.0, 0.0, 1.0), -90.0 \
                                    * rotate (0.0, 1.0, 0.0), 180.0 \
                                    * translate (0.0, 0.75, 0.0)
         # TODO: Change this if the second head tracker will be used.
         trackerPostTransformation2 rotate (0.0, 0.0, 1.0), -90.0 \
                                    * rotate (0.0, 1.0, 0.0), 180.0
         calibratorType TransformCalibrator
         calibratorName Calibrator
        
         # NOTE 2: Commenting this section as we don't want to upload
         # the constellation configuration everytime we restart VRDeviceDaemon.
         # We should only re-upload the configuration if it was changed for 
         # some reason.
         section ConstellationConfiguration
            numTransmitters 12
            transmitterIdBase 5001
            unitSize 1.0
            MCF1  ( 0.937,  0.866, -2.544), ( 0.00,  0.00,  1.00)
            MCF2  ( 0.021,  0.887, -2.543), ( 0.00,  0.00,  1.00)
            MCF3  (-0.894,  0.909, -2.540), ( 0.00,  0.00,  1.00)
            MCF4  (-0.909,  0.282, -2.540), ( 0.00,  0.00,  1.00)
            MCF5  ( 0.005,  0.257, -2.544), ( 0.00,  0.00,  1.00)
            MCF6  ( 0.920,  0.228, -2.546), ( 0.00,  0.00,  1.00)
            MCF7  ( 0.908, -0.391, -2.546), ( 0.00,  0.00,  1.00)
            MCF8  (-0.006, -0.370, -2.544), ( 0.00,  0.00,  1.00)
            MCF9  (-0.919, -0.346, -2.539), ( 0.00,  0.00,  1.00)
            MCF10 (-0.936, -0.976, -2.541), ( 0.00,  0.00,  1.00)
            MCF11 (-0.023, -0.999, -2.542), ( 0.00,  0.00,  1.00)
            MCF12 ( 0.891, -1.026, -2.545), ( 0.00,  0.00,  1.00)
         endsection
         
         section Head
            id 1
            #predictionTime 40
            #perceptualEnhancement 2
         endsection
      
         section Wand
            id 2
            #predictionTime 40
            numButtons 6
            joystick true
         endsection
         
         # TODO: Change this if the second head tracker will be used.
         section Head2
            id 3
            #predictionTime 40
            #perceptualEnhancement 2
         endsection

         section Calibrator
            transformation translate (0.0, -70.0, 0.0) \
                           * rotate (0.0, 0.0, 1.0), -90.0 \
                           * rotate (1.0, 0.0, 0.0), 180.0
         endsection 
      endsection
   endsection
   
   section DeviceServer
      serverPort 8555
   endsection
endsection
